body {
    background-color: #f7edd5;
}

#mainNav {
    position: fixed-top;
    background-color: #ee6e73;
}

#bottomNav {
    background-color: #ee6e73;
}

.container-main {
    display: flex;
    justify-content: center;
}

.center {
    width: auto;
}

.display-10 {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    padding-left: 50px;

}

.description {
    max-height: 500px;
    overflow: scroll;
    background-color: transparent;


}

.description::-webkit-scrollbar {
    width: 0 !important
}

.option {
    display: block;
}

.hide {
    display: none;
}

.col-lg-3 {

    background-color: transparent;

}

.overflow-none {
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.overflow-none::-webkit-scrollbar {
    width: 0 !important
}

.container-fluid {
    width: 100%;
    margin-left: 0px;
}

.op1:hover {
    transform: scale(1.05);
    transition-delay: 0;
    cursor: pointer;
}

.col-lg-4 {

    float: right;
    position: relative;
}

.col-lg-8 {
    position: relative;
    float: left;

}

.roundbutton {

    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 12px;
    margin-right: 15px;
    text-decoration: none;
    color: #0062cc;
}

.wrapper {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.roundbutton:hover {
    transform: scale(1.2);
    transition-delay: 0;
    text-decoration: none;
    color: #0062cc;
}

.book {
    background-color: #28a745;
    color: white;
}

.book:hover {
    transform: scale(1.2);
    transition-delay: 0;
    background-color: #28a745;
    color: white;

}

.size {
    width: max-content;
}

.list {
    text-transform: uppercase;
    text-align: center;
    color: black;
    border: 10px 10px 10px 10px solid white;
    width: 100%;
    float: left;
}

.display-5 {
    float: left;
    align-self: center;
    margin-left: -15px;
    margin-top: 25px;
}

.box1 {
    margin: 100px 0px 0 0px;
    box-sizing: border-box;
    background-color: transparent;
    color: black;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0 0 20px 6px #ffc107;
    text-align: center;
}

.lead {
    margin-left: 50%;
    transform: translate(-50%, 11%);
    text-align: center;
    align-items: center;
    font-size: 27px;
}

.box2 {
    display: block;
    padding: 10px;
    text-align: justify;
    margin-top: 30px;
    background-color: transparent;
    color: black;

}

.op {
    background-color: transparent;
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    width: 95%;
    align-self: center;
    color: black;
}


.navbar {
    background-color: #000;
}

.btn {
    margin-left: 15px;
}

.btns {
    position: absolute;
    right: 0;
    margin-left: 35px;
    margin-right: 15px;
}

.btn2 {
    font-size: 16px;
    margin-right: 10px;
}

@media only screen and (max-width: 767px) {
    .btn2 {
        font-size: 0;
    }

    .btn2 i {
        font-size: 16px;
    }
}

.ques {
    margin-top: 20px;

}

.main {

    border-top-left-radius: 10px;
    box-shadow: 0 0 20px 6px #ffc107;
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 50px;
}

.fix-me {
    position: fixed;
    top: 100px;
    height: 42px;
}


.c1 {
    width: 30px;
    height: 30px;
    position: relative;
    top: 50%;
    left: 50%;
}

.c2 {

    width: 100%;
    height: 100%;
    border: 3px solid #bbb;
    box-sizing: border-box;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
    text-align: center;
    text-overflow: hidden;


}

.clicked {
    border: 15px solid green;

}

.short,
.long {
    position: absolute;
    height: 5px;
    background: white;
    transition: .s;
    display: none;
    opacity: 0;
}

.short {
    width: 10px;
    top: 15px;
    left: 7px;
    transform: rotate(45deg);
}

.long {
    width: 15px;
    top: 13px;
    left: 10px;
    transform: rotate(-45deg);
}

.clicked~.long {
    display: block;
    opacity: 1
}

.clicked~.short {
    display: block;
    opacity: 1
}

.left {
    float: left;
    align-items: center;
    align-self: center;
    margin-left: -20px;
    padding-right: 20px;
    cursor: pointer;
}

#one {
    color: #007bff;
    margin-bottom: 100px;
    text-shadow: -1px 1px 1px white, 1px -1px 15px #ffffff70;
}

.glow {
    box-shadow: 0px 0px 20px 6px green;
}




/*The CSS for the timer*/

.red {
    color: red;
}

.timer {
    width: 221px;
    position: absolute;
    right: 0;
    text-align: right;
    color: white;
    border-radius: 0 0 0 15px;
    box-shadow: 0px 0px 8px 3px black;
}

.timer * {
    cursor: default;
}

.timer h3 {
    width: 100%;
    font-size: 65px;
    letter-spacing: 4px;
    text-align: center;
}

.timer--clock {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 30px 30px 5px 16px;
}

.timer--clock .clock-display-grp {
    width: 100%;
    position: relative;
}

.timer--clock .clock-display-grp .number-grp {
    width: auto;
    display: block;
    height: 65px;
    float: left;
    overflow: hidden;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp {
    width: 100%;
    position: relative;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num {
    width: 100%;
    position: relative;
    height: 65px;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p {
    width: auto;
    display: table;
    font-size: 65px;
    line-height: 65px;
    font-weight: bold;
}

.timer--clock .clock-separator {
    width: auto;
    float: left;
    margin-bottom: 5px;
    display: block;
    height: 65px;
}

.timer--clock .clock-separator p {
    position: relative;
    float: left;
    width: auto;
    display: table;
    font-size: 65px;
    line-height: 65px;
    font-weight: bold;
}

.timer h4 {
    width: 100%;
    font-size: 10px;
    letter-spacing: 6px;
    text-align: center;
    padding-top: 24 px;
    float: left;
}

.reload {
    width: 100x;
    height: 14px;
    position: absolute;
    bottom: 50vh;
    left: 50%;
    margin-left: -62.5px;
    opacity: 0;
    display: none;
    cursor: pointer;
    z-index: 9999;
}

.reload:hover svg path {
    fill: #666666;
}

.reload:hover p {
    color: #666666;
}

.reload svg {
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 10px;
}

.reload p {
    color: #2b2b2b;
    font-size: 12px;
    float: left;
    line-height: 11px;
}