<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/da_style.css">
     <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="./static/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body>
   <ul id="dropdown1" class="dropdown-content ">
        <li class="divider"></li>
        <li><a href="#!">My Profile<i class="material-icons right">person</i></a></li>
        <li><a href="{{url_for('logout')}}">Logout<i class="material-icons right">directions_run</i></a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content ">
        <li class="divider"></li>
        <li><a href="#!">My Profile<i class="material-icons right">person</i></a></li>
        <li><a href="{{url_for('logout')}}">Logout<i class="material-icons right">directions_run</i></a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo" style="padding-left: 30px;">R<sup>5</sup> ASSIST</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/upload-pdf">Summarizer</a></li>
                <li><a href="{{url_for('testCover')}}">Tests</a></li>
                <li><a href="#">Notifications by Teacher</a></li>
                <li><a href="" class="dropdown-button" data-activates="dropdown1">Hey! {{current_user.name}}<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/upload-pdf">Summarizer</a></li>
                <li><a href="{{url_for('testCover')}}">Tests</a></li>
                <li><a href="#">Notifications by Teacher</a></li>
                <li><a href="" class="dropdown-button" data-activates="dropdown2">Hey! {{current_user.name}}<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
    {%with messages=get_flashed_messages(with_categories=true)%}
                {%if messages%}
                    {%for category, message in messages%}
                    <div class='center-align'>
                    <div class="chip center-align">
                        {{message}}
                         <i class="close material-icons">close</i>
                    </div>
                    </div>
                    {%endfor%}
                {%endif%}
              {%endwith%}
   {% block body %}{% endblock %}
    <!--JavaScript at end of body for optimized loading-->
    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
  
          <!-- Begin Page Content -->
          <div class="container-fluid">
  
            <!-- Page Heading -->
            <br>
            <h1 class="h3 mb-2 text-gray-800">Charts</h1>
  
            <!-- Content Row -->
            <div class="row">
  
              <div class="col-xl-8 col-lg-7">
  
                <!-- Area Chart -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Syllabus Schedule</h6>
                  </div>
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="myAreaChart"></canvas>
                    </div>
                    <hr>
                  </div>
                </div>
  
                
  
              </div>
      
              <div id="hidden-content" style="display: none;" >{{ hc }}</div>
              <!-- Donut Chart -->
              <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Result Analysis</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-pie pt-4">
                      <canvas id="myPieChart"></canvas>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <div id="hidden-content-pie" style="display: none;" >{{ datapie }}</div>

          <!-- /.container-fluid -->
  <!-- Bar Chart -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Score Card</h6>
    </div>
    <div class="card-body">
      <div class="chart-bar">
        <canvas id="myBarChart"></canvas>
      </div>
      <hr>
    </div>
  </div>
        </div>
        <div id="hidden-content-bar" style="display: none;" >{{ databar }}</div>

        <!-- End of Main Content -->
  
  
      </div>
      <!-- End of Content Wrapper -->
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="./static/da_script.js"></script>

     <!-- Bootstrap core JavaScript-->
  <script src="./static/vendor/jquery/jquery.min.js"></script>
  <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="./static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="./static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="./static/vendor/chart.js/Chart.min.js"></script>

    <script src="./static/js/demo/chart-area-demo.js"></script>
  <script src="./static/js/demo/chart-pie-demo.js"></script>
  <script src="./static/js/demo/chart-bar-demo.js"></script>
</body>

</html>