{% extends "layout_student.html" %}
 {% block head %}
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='testcover.css')}}">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 {% endblock %}

 {% block body %}

	<div class="container">
  <!-- Row 1 -->
  <h2 class='center-align'> PHYSICS</h2>
    <div class='center-align'>
	<div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Test 1</span>
          <h5>Physics</h5>
          <h6>Thermodynamics</h6>
          <br>
          <p>30 Questions<br>10 minutes each<br>MCQ pattern</p>
        </div>
        <div class="card-action">
          <a href="#">Start Test</a>
        </div>

      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">

        <div class="card-content">
          <span class="card-title">Test 2</span>
          <h5>Physics</h5>
          <h6>Thermodynamics</h6>
          <br>
          <p>30 Questions<br>10 minutes each<br>MCQ pattern</p>
        </div>
        <div class="card-action">
          <a href="#">Start Test</a>
        </div>

      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">

        <div class="card-content">
          <span class="card-title">Test 3</span>
          <h5>Physics</h5>
          <h6>Thermodynamics</h6>
          <br>
          <p>30 Questions<br>10 minutes each<br>MCQ pattern</p>
        </div>
        <div class="card-action">
          <a href="#">Start Test</a>
        </div>

      </div>
    </div>
    </div>
  </div>
  <hr>
  <!-- Row 2 -->
  <h2 class='center-align'>CHEMISTRY</h2>
		<div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Test 1</span>
          <h5>Chemistry</h5>
          <h6>Thermodynamics</h6>
          <br>
          <p>30 Questions<br>10 minutes each<br>MCQ pattern</p>
        </div>
        <div class="card-action">
          <a href="#">Start Test</a>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Test 2</span>
          <h5>Chemistry</h5>
          <h6>Thermodynamics</h6>
          <br>
          <p>30 Questions<br>10 minutes each<br>MCQ pattern</p>
        </div>
        <div class="card-action">
          <a href="#">Start Test</a>
        </div>
      </div>
    </div>
    <div class="col s12 m3 align-center">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Test 3</span>
          <h5>Chemistry</h5>
          <h6>Thermodynamics</h6>
          <br>
          <p>30 Questions<br>10 minutes each<br>MCQ pattern</p>
        </div>
        <div class="card-action">
          <a href="#">Start Test</a>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Test 4</span>
          <h5>Chemistry</h5>
          <h6>Thermodynamics</h6>
          <br>
          <p>30 Questions<br>10 minutes each<br>MCQ pattern</p>
        </div>
        <div class="card-action">
          <a href="#">Start Test</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
	</div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" data-target="modal1" id="menu">
      <i class="large material-icons">add</i>
    </a>
</div>
<div class="tap-target" data-target="menu">
  <div class="tap-target-content">
    <h5 class="white-text">Hi there {{current_user.name}}</h5>
    <p class="white-text">You can click here to add a Question to your Personalised TRAIN Database</p>
  </div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h3>Add a Question to your Personalised <b>TRAIN</b> Database</h3>

    <div class="row">
      <form class="col s12" action="", method='POST'>
        {{form.hidden_tag()}} <!--Adds a CSRF(Cross sight request forgery) token, helps to prevent forms against forgery attack-->
        <div class="row modal-form-row">
          <div class="input-field col s10">
            {{form.question.label(class='form-control-label')}}
                    {%if form.question.errors%}
                        {{form.question(class='form-control form-control-lg is-invalid')}}
                        <div class="invalid-feedback">
                            {%for error in form.question.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>

                    {%else%}   
                        {{form.question(class='form-control form-control-lg')}}
                    {%endif%}
            <!-- <input id="image_url" type="text" class="validate"> -->
            <!-- <label for="image_url">Image URL</label> -->
          </div>
        </div>
        <div class="row">
          <div class="input-field col s10">
            {{form.option_1.label(class='form-control-label')}}
                    {%if form.option_1.errors%}
                        {{form.option_1(class='form-control form-control-lg is-invalid')}}
                        <div class="invalid-feedback">
                            {%for error in form.option_1.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>

                    {%else%}   
                        {{form.option_1(class='form-control form-control-lg')}}
                    {%endif%}
          </div>
        </div>   
        <div class="row">
          <div class="input-field col s10">
            {{form.option_2.label(class='form-control-label')}}
                    {%if form.option_2.errors%}
                        {{form.option_2(class='form-control form-control-lg is-invalid')}}
                        <div class="invalid-feedback">
                            {%for error in form.option_2.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>

                    {%else%}   
                        {{form.option_2(class='form-control form-control-lg')}}
                    {%endif%}
          </div>
        </div> 
        <div class="row">
          <div class="input-field col s10">
            {{form.option_3.label(class='form-control-label')}}
                    {%if form.option_3.errors%}
                        {{form.option_3(class='form-control form-control-lg is-invalid')}}
                        <div class="invalid-feedback">
                            {%for error in form.option_3.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>

                    {%else%}   
                        {{form.option_3(class='form-control form-control-lg')}}
                    {%endif%}
          </div>
        </div> 
        <div class="row">
          <div class="input-field col s10">
            {{form.option_4.label(class='form-control-label')}}
                    {%if form.option_4.errors%}
                        {{form.option_4(class='form-control form-control-lg is-invalid')}}
                        <div class="invalid-feedback">
                            {%for error in form.option_4.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>

                    {%else%}   
                        {{form.option_4(class='form-control form-control-lg')}}
                    {%endif%}
          </div>
        </div>   
        <div class="row">
          <div class="input-field col s10">
            {{form.correct_ans.label(class='form-control-label')}}
                    {%if form.correct_ans.errors%}
                        {{form.correct_ans(class='form-control form-control-lg is-invalid')}}
                        <div class="invalid-feedback">
                            {%for error in form.correct_ans.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>

                    {%else%}   
                        {{form.correct_ans(class='form-control form-control-lg')}}
                    {%endif%}
          </div>
        </div>   
        <div class="modal-footer" style="padding-right: 40px;">
          {{form.submit(class='waves-effect waves-green btn')}}
          
        </div>   
      </form>
    </div>
  </div>
  
</div>
 {%endblock%}

 {% block script %}
 <script type='text/JavaScript'>
 document.addEventListener('DOMContentLoaded', function() {
				var elems = document.querySelectorAll('.sidenav');
				var instances = M.Sidenav.init(elems, {});			 
           var elemsTap = document.querySelector('.tap-target');
    var instancesTap = M.TapTarget.init(elemsTap, {});
             instancesTap.open()
			  });
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    // $('.modal-trigger').leanModal();
    $('.modal').modal();
    $('.fixed-action-btn').floatingActionButton();
  });
</script>
 {% endblock %}
