{% extends "layout_student.html" %}


{% block body %}

<div class="container">
        <div class="row">
            <div class="col s12">
            <form  enctype="multipart/form-data" id = "submit-form" method='POST'>
                <div class="form-group">
                    <br>
                    <p class="center-align">
                        Upload the PDF to summarize. <br>
                        A ZIP file containing the summary will be mailed to you within 30 minutes.
                    </p>
                    <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                        </div>
                    <br>
                    <br>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" id="pdf">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" >
                        </div>
                    </div>
                    <br>
                    <br>
                    <p class="center-align">
                    <button class="btn waves-effect waves-light" type="submit" onClick="myFunction(event)">Summarize
    <i class="material-icons right">send</i>
  </button>
  </p>
                    <!-- <button style="margin:auto;display:block" onClick="myFunction(event)"
                    type="submit" class="btn btn-primary">Submit PDF </button> -->
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>

        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        function ValidateEmail(mail)
        {
          if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
          {
            return (true)
          }
           alert("Invalid email address!")
           return (false)
         }

        function myFunction(e){
        e.preventDefault()
        var file = document.getElementById('pdf').files[0]
        var mailid = document.getElementById('email').value
        console.log(file)
        console.log(mailid)

        if(!file){
        alert("PDF must have a filename.");
        return;
        }

        if(!ValidateEmail(mailid)){
        return;
        }
        if(!file.type.match('application/pdf')){
            alert('Incorrect extension. Please upload a PDF.');
            return;
        }
        if (file.size >= 20000000 ) {
            alert('Size limit exceeded.\nMax size allowed: 20 Mb.');
            return;
        }

        var formData = new FormData();
        formData.append('email', $('#email').val())
        formData.append('pdf', $('#pdf')[0].files[0])

        $.ajax({
           url : '/upload-pdf',
           type : 'POST',
           data : formData,
           processData: false,  // tell jQuery not to process the data
           contentType: false,  // tell jQuery not to set contentType
           success : function(data) {
               alert('Upload successful.\nEmail is being processed.\nThank you.');
               $('#submit-form').trigger("reset");
            }
        });
    }

</script>

{% endblock %}

